@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<ul>
    <li><a href="@Url.Action("Index", "AdminOrder")">Manage Orders</a></li>
    <li><a href="@Url.Action("Index", "AdminProduct")">Manage Products</a></li>
</ul>