@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<SAOnlineMart.Models.Product>

<div class="products-container">
    @foreach (var product in Model)
    {
        <div class="product-card">
            <img src="@product.ImageUrl" alt="@product.Name" />
            <h2>@product.Name</h2>
            <p class="price">@product.Price</p>
        </div>
    }
</div>