html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3C0753;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    color: #ffd3f1;
}

.custom-navbar {
    background-color: #030637;
}

.products-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
}

.product-card h2 {
    margin: 10px 0;
}

.product-card .description {
    font-size: 14px;
    margin: 10px 0;
}

.product-card .price {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}